// paAwayTeam

.paat{
		img {
			width: 114px;
			height: 114px;
			position: relative;
			top: 904px;
			left: 1378 px;
		}
width: 1920px;
			height: 1080px;

background-image: url(/mediafiles/player_announcement.png);
background-repeat: no-repeat;
background-position: bottom 52px right 420px;

		
}

h2#PAATnumber{
				
				
				vertical-align: middle
				text-align: center;
				float: left;
				color: black;
				font-size: 3em;
				margin: 0;
                position: absolute;
                top: 977px;
                left: 463px;
                margin-right: 50%;
                transform: translate(-50%, -50%)
	}
h2#PAATname{
				
				
				vertical-align: middle
				text-align: center;
				float: left;
				color: white;
				font-size: 2em;
                position: absolute;
                top: 912 px;
                left: 565px;
	}
h2#PAATteam{
				
				
				vertical-align: middle
				text-align: center;
				float: left;
				color: white;
				font-size: 1.2em;
                position: absolute;
                top: 994 px;
                left: 565px;
	}
h2#PAATdor{
				vertical-align: middle
				text-align: center;
				float: left;
				color: black;
				font-size: 2em;
				margin: 0;
                position: absolute;
                top: 977px;
                left: 463px;
                margin-right: 50%;
                transform: translate(-50%, -50%)
	}

	
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
