.paAwayTeam 
   <div class="paat">
   <img :src="imageUrl" />
   </div>

   h2#PAATnumber(v-html="visibleEntry.props.number")
   h2#PAATname(v-html="visibleEntry.props.name")
   h2#PAATteam(v-html="visibleEntry.props.team")
   h2#PAATdor(v-html="visibleEntry.props.dor")


   